.wrap{
    min-height: 100%;
    padding: 50px;
    font-size: 16px;
    color: #fff;
    
}
    
.block{
margin: 0 0 30px 0;
}

.block__item{
margin: 0 0 1px 0;
}
    



.block_title{
width: 100%;
text-align: left;
font-size: 18px;
background-color: inherit;
color: #fff;
padding: 10px;
position: relative;
border: none;
}


.block._init .block_title{
cursor: pointer;
padding: 10px 40px 10px 10px;

}

.block._init .block__title::before, .block._init .block__title::after{
content: '';
width: 20px;
height: 1px;
background-color: #fff;
position: absolute;
right: 10px;
top: 20px;
transition: transform 0.3s ease 0s;
}
    


    

    

.block._init .block__title::after{
transform: rotate(-90deg);

}
.block._init .block_title._active::after{
transform: rotate(0deg);

}
.block_text{
padding: 0 10px 10px;
line-height: 130%;
}

.block_1{
    background-color: #776087;
}
.block_2 {
    background-color: #d99954;
}
.block_3{
    background-color: #40825b;
}

.block__title{
    background-color: inherit;
    border: 0;
    color: #fff;
}

